extends layout

block content
	div.container
		h1= title
		p The fastest way to make polls.
		form(action="/poll/create", method="post")
			div.form-group
				label(for="newPollQuestion") Question
				input(type="text", name="question", placeholder="What would you like to ask?", class="form-control", id="newPollQuestion")
			div.form-group#poll-choices
				label Choices
			button(type="button", class="btn btn-link", id="addPollChoice") Add Choice
			br
			button(type="submit", class="btn btn-default") Submit

		template#newPollChoiceTemplate
			div.form-group
				button(class="close closePollChoice", tabindex="-1") x
				input(type="text", name="choice_{{id}}", placeholder="Enter choice text here...", class="form-control newPollChoice")

	script.
		// id of current choice (only has to be unique, not consecutive)
		var currentId = 1;

		appendNewChoice();
		appendNewChoice();
		appendNewChoice();

		$('#addPollChoice').on('click', function(e) {
			appendNewChoice();
		});

		$(document).on('click', '.closePollChoice', function(e) {
			$(this).parent().remove();
		});

		$('form').on('submit', function() {
			/* Check for question */
			var questionFormGroup = $(this).children().first();
			if ($('#newPollQuestion').val() === '') {
				questionFormGroup.addClass('has-error');
				return false;
			} else {
				questionFormGroup.removeClass('has-error');
			}

			/* Remove unused choices */
			var choices = [];
			$('.newPollChoice').each(function(index, choice) {
				if (choice.value === '') {
					$(this).parent().remove();
				}
			});

			/* Check for MIN_CHOICES choices. */
			var MIN_CHOICES = 2;
			var completedChoices = $('.newPollChoice').length;
			if (completedChoices < MIN_CHOICES) {
				for (var i = 0; i < MIN_CHOICES - completedChoices; i++){
					appendNewChoice();
				}
				$('.newPollChoice').each(function(index, choice) {
					if (choice.value === '') {
						$(this).parent().addClass('has-error');
					} else {
						$(this).parent().removeClass('has-error');
					}
				});
				return false;
			}

			return true;
		});

		function appendNewChoice() {
			var choiceHtml = $('#newPollChoiceTemplate').html();
			choiceHtml = choiceHtml.replace(/{{id}}/g, currentId.toString());
			$('#poll-choices').first().append(choiceHtml);
			++currentId;
		}
