extends layout

block content
	div.container
		h1= title
		p The fastest way to make polls.
		form(action="/poll/create", method="post")
			div.form-group
				label(for="newPollQuestion") Question
				input(type="text", name="question", placeholder="What would you like to ask?", class="form-control", id="newPollQuestion")
			div.form-group#poll-choices
				label Choices
			button(type="button", class="btn btn-link", id="addPollChoice") Add Choice
			br
			input(type="checkbox", id="publicPoll")
			label(for="publicPoll") Public
			span(data-toggle="tooltip", title="Public polls are viewable by all users on the home page")
				span(class="glyphicon glyphicon-question-sign")
			br
			button(type="submit", class="btn btn-default") Submit

		template#newPollChoiceTemplate
			div.form-group
				button(class="close closePollChoice", tabindex="-1") x
				input(type="text", name="choice_{{id}}", placeholder="Enter choice text here...", class="form-control newPollChoice")

	script.
		QuestionCreator.setup();
