doctype 5
html
	head
		title= title
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		header
			nav.navbar.navbar-default
				div.navbar-header
					a(href="/", class="navbar-brand") QuickPolls
		block content