extends layout

block content
	div.container#pollVoting
		h1= question
		form(action="/poll/vote", method="post")
			input(type="hidden", name="code", value="#{code}")
			each choice, i in choices
				label.btn.btn-default.choice
					input(type="radio", name="choice", value="#{i}")
					span= choice

	script.
		$('label').on('click', function(){
			$(this).children('input').attr('checked', true);
			$(this).parent('form').submit();
		});
