extends layout

block content
	div.container
		h1(id="resultsQuestion")
			=question
		table(id="resultsChoices")
			tr
				th Choice
				th Votes
				th
			each votes, choice in choices
				tr
					td
						span(class="resultsChoiceText")= choice
					td= votes
						votes
					td
						span(class="progressBar", data-votes="#{votes}", data-toggle="tooltip", title='#{votes} votes')

	script.
		$('.progressBar').tooltip();
		var max = 0;
		$('.progressBar').each(function(i, elem){
			var votes = parseInt($(elem).data('votes'));
			if (votes > max){
				max = votes;
			}
		});
		$('.progressBar').each(function(i, elem){
			var votes = parseInt($(elem).data('votes'));
			$(this).width(votes / max * 100);
		});
