/* GLOBAL */
body
	padding 50px
.container
	width 600px

/* CREATE */
.form-control
	width 96%
.closePollChoice:hover
	color #b94a48


/* RESULTS */
#resultsQuestion
	text-align center
#resultsChoices
	margin 40px auto
	width 300px
.progressBar
	display inline-block
	height 10px
	margin-left 10px
	background #add8e6
	float right
	transition width 1s
