/* GLOBAL */
body
	padding 50px
.container
	width 600px

/* CREATE */
.form-control
	width 96%
.closePollChoice:hover
	color #b94a48


/* RESULTS */
#resultsQuestion
	text-align center
#resultsChoices
	margin 40px auto
	th, td
		width 100px
.progressBar
	display block
	height 10px
	background #add8e6
	transition width 0.5s
